<div [bcomponent-attributes]="self">
    <div *ngIf="!isNull(header)" class="panel-heading" [innerHtml]="header"></div>
    <div *ngIf="isNull(header) && !isNull(projectionHeader)" class="panel-heading">
        <ng-content select="bc-panel-header"></ng-content>
    </div>
    <div class="panel-body">
        <div *ngIf="hasBody()" [innerHtml]="body"></div>
        <ng-content *ngIf="isNull(body) && !isNull(projectionBody)" select="bc-panel-body"></ng-content>
    </div>
    <div *ngIf="!isNull(footer)" class="panel-footer" [innerHtml]="footer"></div>
    <div *ngIf="isNull(footer) && !isNull(projectionFooter)" class="panel-footer">
        <ng-content select="bc-panel-footer"></ng-content>
    </div>
</div>