<div [bcomponent-attributes]="self">
    <a *ngIf="hasLink()" [attr.href]="link">
        <img [attr.src]="src" [attr.alt]="alt">
    </a>
    <img *ngIf="!hasLink()" [attr.src]="src" [attr.alt]="alt">
    <div class="caption">
        <bc-heading *ngIf="hasHeader() && !hasHeading()" [size]="size" [title]="header" bcStyle="margin-top:0px;"></bc-heading>
        <bc-heading *ngIf="hasHeading()" [bcomponent]="heading"></bc-heading>
        <p *ngIf="hasBody()" [innerHtml]="body"></p>
        <p *ngIf="!hasBody()"><ng-content select="thumbnail-body"></ng-content></p>
        <p *ngIf="hasFooter()" [innerHtml]="footer"></p>
        <p *ngIf="!hasFooter()"><ng-content select="thumbnail-footer"></ng-content></p>
    </div>
</div>