<div id="wrapper" [bcomponent-attributes]="self" [class.toggled]="!isClosed">
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li *ngIf="hasBrand()" class="sidebar-brand"><bc-link [bcomponent]="brand"></bc-link></li>
            <li *ngFor="let item of items" [class.dropdown]="item.isDropdown()">
                <bc-link *ngIf="!item.isDropdown()" [bcomponent]="item.link"></bc-link>

                <a *ngIf="item.isDropdown()" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{item.text}} <span class="caret"></span>
                </a>
                <ul *ngIf="item.isDropdown()" class="dropdown-menu" role="menu">
                    <li *ngFor="let dropdownItem of item.dropdownItems" [class.dropdown-header]="dropdownItem.isHeader()">
                        <span *ngIf="dropdownItem.isHeader()" [innerHtml]="dropdownItem.header"></span>
                        <bc-link *ngIf="!dropdownItem.isHeader()" [bcomponent]="dropdownItem.link"></bc-link>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="page-content-wrapper">
        <button *ngIf="menuButton" type="button" class="hamburger animated fadeInLeft" [class.is-closed]="isClosed" [class.is-open]="!isClosed"  data-toggle="offcanvas" (click)="toggleNav()">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div #contentComponent></div>
        <ng-content *ngIf="!hasContent()"></ng-content>
    </div>
</div>