<div [bcomponent-attributes]="self" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div *ngIf="hasTitle()" class="modal-title" [innerHtml]="title"></div>
                <div *ngIf="!hasTitle()" class="modal-title"><ng-content select="[modal-title]"></ng-content></div>
            </div>
            <div class="modal-body">
                <div *ngIf="hasBody()" [innerHtml]="body"></div>
                <ng-content *ngIf="!hasBody()" select="[modal-body]"></ng-content>
            </div>
            <div class="modal-footer">
                <div *ngIf="hasFooter()" [innerHtml]="footer"></div>
                <ng-content *ngIf="!hasFooter()" select="[modal-footer]"></ng-content>
            </div>
        </div>
    </div>
</div>