<div [bcomponent-attributes]="self" *ngIf="size == 1">
    <h1>{{title}} <small>{{subtitle}}</small></h1>
</div>

<div [bcomponent-attributes]="self" *ngIf="size == 2">
    <h2>{{title}} <small>{{subtitle}}</small></h2>
</div>

<div [bcomponent-attributes]="self" *ngIf="size == 3">
    <h3>{{title}} <small>{{subtitle}}</small></h3>
</div>

<div [bcomponent-attributes]="self" *ngIf="size == 4">
    <h4>{{title}} <small>{{subtitle}}</small></h4>
</div>

<div [bcomponent-attributes]="self" *ngIf="size == 5">
    <h5>{{title}} <small>{{subtitle}}</small></h5>
</div>

<div [bcomponent-attributes]="self" *ngIf="size == 6">
    <h6>{{title}} <small>{{subtitle}}</small></h6>
</div>